.navbar {
    padding: 0 8px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-weight: 600;
}